.conteudo {
    background-color: #e2e4e6;
    text-align: center;
    padding: 10px; 
    margin: 0;
    border: 0;
    position: absolute;
    top: 60px;
    bottom: 10px; 
    left: 0;
    right: 0;
  }
  
  
  header {
    text-align: left;
    background-color: rgb(251, 251, 251);
    padding: 10px; 
  }
  
  header {
      margin: 0; 
      color: rgb(0, 0, 0); 
  }
  
  
  button {
      width: 300px;
      border: 10px solid rgb(99, 0, 0);
      padding: 20px;
      margin: 20px;
    }
  
  button:hover {background-color: rgb(99, 0, 0)}
  
   button:active {
      background-color: rgb(248, 6, 6);
   
   }
  
  footer{
      padding: 0%;
      text-align: center;
      font-size: 10px;
      background-color: rgb(0, 0, 0);
  
      position: fixed;
      bottom: 0;
      width: 100%;
      color: #fff;
      padding: 10px;
      text-align: center;
  
      left:0;
      right: 0;
  }
  
  
  .smallbutton {
    display: inline-block;
    padding: 8px 16px; 
    font-size: 14px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #f0f0f0; 
    color: #333; 
    text-decoration: none; 
  }
  
  .board-form {
    background-color: #ffffff; 
    padding: 10px;
    border-radius: 5px; 
    width: 400px; 
    margin: auto; 
  }
  